@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
  font-family: 'Noto Sans', sans-serif;
  background-color: rgb(250, 240, 152);
}
.App{
  padding: 20px;
  border-radius: 25px;
  background-color: rgb(255, 248, 218);
  max-width: 1000px;
  margin: 0 auto;
}
.app-title{
  text-align: center;
  text-decoration: underline;
}
.cards__container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;

}
.input__container{
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  gap: 10px;
  margin-bottom: 25px;
  align-items: center;
  border: 2px dashed;
}
input{
  border: 1px solid;
  border-radius: 10px;
  height: 25px;
  padding: 10px;
}
.card{
  
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  user-select: none;
  overflow: hidden;
  
  width: 200px;
  height: 75px;
  font-size: 30px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(147, 203, 255);
  transition: 0.3s ease;
}
.card.flipped{
  background-color: greenyellow;

  transition: 0.3s ease;
  /* transform: rotateY(180deg); */
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 64px;
  border-radius: 10px;
  background: white;
  font-weight: bold;
  border: 1px solid;
}